@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

@import "tailwindcss";
@tailwind base;

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Movatif';
  src: url('/fonts/movatif-regular.otf') format('opentype');

  font-style: normal;
}


.noto-sans{
  font-family: 'Noto Sans', sans-serif;
}

.test-wrapper .swiper-wrapper{
  padding-left: 30px;
  gap: 5px;
}

@media (max-width:768px) {
  .test-wrapper .swiper-wrapper{
    padding-left: 0px;
  }
}

.lucide-play{
  fill: #111010 !important;
}

@font-face {
  font-family: "TypoGrotesk";
  src: url("/fonts/TypoGroteskDemo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.font-movatif{
  font-family: 'Movatif', sans-serif;
  font-weight: normal;
  font-style: normal;
}


.font-grotesk {
  font-family: 'TypoGrotesk', sans-serif;
}
.font-ibmflexmono{
  font-family: "IBM Plex Mono", monospace;
}


.mini .swiper-wrapper{
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}



   .initiatives .swiper-wrapper {
    gap: 20px;
   }
 
   
.init-card::after{
  content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.542);
    pointer-events: none;
}
   
    .image-counter {
      position: absolute;
      bottom: 20px;
      right: 0%;
      transform: translateX(-50%);
      color: white;
      font-size: 14px;
     
      padding: 8px 16px;
      border-radius: 8px;
    }
 
@media (min-width:768px) {
  .testimonial-wrapper .swiper-wrapper{
    padding-left: 60px;
  }
}


  .lightbox {
    z-index: 1000;
    background: #6666666e;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(25px);
  }

  .lightbox:target {
    display: flex;
  }

  .lightbox-content {
    max-width: 90%;
    height: 600px;
    border-radius: 8px;
  }
  @media (max-width:1000px) {
    .lightbox-content {
      height: 450px;
    }
  }
  @media (max-width:700px) {
    .lightbox-content {
      height: auto;
      width: 95%;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 24px;
    text-decoration: none;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }

  .prev:hover,
  .next:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  iframe {
    pointer-events: none; /* Prevents interactions, remove if needed */
}

.homegallery .swiper-wrapper{
  transition-timing-function:linear !important ;
}

.ytp-chrome-top, 
.ytp-chrome-bottom, 
.ytp-watch-later-button, 
.ytp-share-button, 
.ytp-title,
.ytp-issue-indicator,
.ytp-youtube-button {
    display: none !important;
}


  @layer utilities {
    .accordian-grad {
      @apply relative border border-[2px] backdrop-blur-[50px] border-white/30 rounded-[25px] bg-[#00000000]
          before:absolute before:inset-0 before:rounded-[23px] before:bg-[#7656991c]
          after:absolute after:top-0 after:right-0 after:rounded-[23px] after:bg-gradient-to-tr
          after:from-transparent after:via-transparent after:w-[20%] after:overflow-hidden
          after:h-[20%] after:to-[#794cec3d] px-10 py-2
          hover:after:w-[60%] hover:after:h-[60%]
          after:transition-all after:duration-300;
  }
  
    .gradient-text {
      @apply bg-gradient-to-r from-[#6D78EB] via-[#53D5E8] via-[#6A81EB] to-[#794CEC] bg-clip-text text-transparent;
    }
    .button-blur{
      @apply px-6 py-2 my-3 mb-5 rounded-full flex justify-center h-[50px] items-center  backdrop-blur-[50px] gap-2 border border-white/30 bg-white/10   w-auto hover:bg-white/20 text-white transition
    }
    
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  @keyframes marquee-reverse {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
  
 
  .animate-marquee-home {
    display: flex;
    width: max-content;
    animation: marquee 45s linear infinite;
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 40s linear infinite;
  }
  
  .animate-marquee-reverse {
    display: flex;
    width: max-content;
    animation: marquee-reverse 40s linear infinite;
  }
  
  @keyframes circularMove {
    0% { background-position: 0% 50%; }   /* Start from the middle left */
    25% { background-position: 75% 100%; } /* Moves to bottom right */
    50% { background-position: 100% 50%; } /* Moves to right center */
    75% { background-position: 25% 0%; }   /* Moves to top left */
    100% { background-position: 0% 50%; }  /* Completes the loop */
}

.btn-gradient-2 {
    background: linear-gradient(black, rgb(0, 0, 0)) padding-box,
                linear-gradient(to right, rgb(31, 31, 31), rgb(31, 31, 31), #794cec74, #a880ff2c, #794cec6d) border-box;
    margin-bottom: 25px;
    border: 2px solid transparent;
    background-size: 200% 200%; /* Ensures enough space for movement */
}

.btn-gradient-3 {
  background: linear-gradient(rgb(33, 32, 32), rgb(33, 32, 32)) padding-box,
              linear-gradient(to right, rgb(31, 31, 31),#b192ff4e, rgb(31, 31, 31), #b192ff4e, #a880ff2c, #794cec6d) border-box;
  margin-bottom: 25px;
  border: 2px solid transparent;
  background-size: 200% 200%; /* Ensures enough space for movement */
}

.btn-gradient-4 {
  background: linear-gradient(transparent, transparent) padding-box,
  linear-gradient(270deg, rgba(109, 120, 235, 0.779) 0%, rgba(195, 0, 255, 0.796) 25%, #53D5E8 65.5%, rgb(195, 0, 255) 100%) border-box;
  border: 3px solid rgb(27, 27, 27);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-size: 150% 150%;
  
}

.btn-gradient-4:hover {
  background-position: right center;
  border: 3px solid transparent;
}

.btn-gradient-2:hover ,.btn-gradient-3:hover  {
    animation: circularMove 6s infinite linear;
}




.btn-gradient-5 {
  background: linear-gradient(rgb(40, 39, 39), rgb(40, 39, 39)) padding-box,
  linear-gradient(109.43deg, rgba(168, 128, 255, 0.2) 25.1%, rgba(168, 128, 255, 0.332) 72.57%, rgba(168, 128, 255, 0.474) 100%) border-box;
  margin-bottom: 25px;
  border: 1px solid transparent;
  background-size: 200% 200%; /* Ensures enough space for movement */
}
